* {
  margin: auto;
  padding: 0%;
  max-width: 1700px;
}

body {
  background-color: white;
  height: fit-content;
}

.logo {
  position: absolute;
  top: 50px;
  left: 100px;
  height: 40px;
}

.section1 {
  display: flex;
  flex-direction: row;
  width: 700px;
  list-style: none;
  position: absolute;
  top: 50px;
  left: 600px;
  justify-content: space-between;
}

.item {
  font-family: Trebuchet MS, sans-serif;
  font-size: large;
  font-weight: bold;
  margin: 10px;
}

.reg-btn {
  font-family: Trebuchet MS, sans-serif;
  font-size: large;
  color: #178ef0;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border-color: #178ef0;
  position: absolute;
  top: 50px;
  left: 1400px;
}

.first-card {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  position: relative;
  top: 200px;
}

.head1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 50px;
  font-weight: bolder;
  
}

.para1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: larger;
  color: #3d4959;
}

.btn1 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  color: white;
  background-color: #178ef0;
  padding: 20px 30px;
  border-radius: 5px;
  border-color: #178ef0;
  position: relative;
  top: 50px;
  left: 0px;
}

.img-size {
  height: 500px;
}

.p-1 {
  margin-top: 70px;
}

.h-1 {
  color: #14263f;
}

.grid-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  top: 300px;
}

.grid-head {
  font-family: Trebuchet MS, sans-serif;
  font-size: 25px;
  color: #14263f;
  margin-top: 20px;
}

.grid-para {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  color: #3d4959;
  margin-top: 20px;
}

.grid-container2 {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  text-align: center;
  position: relative;
  top: 300px;
}

.grid-head2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 25px;
  color: #14263f;
  margin-top: 20px;
}

.grid-para2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  color: #3d4959;
  margin-top: 20px;
}

.blue-box {
  background: linear-gradient(180deg, #09c6f9 0%, #045de9 100%);
  height: 110vh;
  width: 1690px;
  position: relative;
  z-index: -1;
  top: 300px;
  margin-top: 50px;
}

.blue-head {
  color: black;
  font-family: Trebuchet MS, sans-serif;
  width: 100%;
  
  font-size: 50px;
  position: absolute;
  top: 2600px;
  text-align: center;
}

.A {
  display: flex;
  width: 1600px;
  justify-content: center;
  height: 80vh;
  position: absolute;
  top: 2700px;
  left: 50px;
}

.B {
  background-color: #fff;
  border-radius: 10px;
  width: 40vh;
  margin: 10px;
}

.C {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 20px;
}

.pay-head {
  font-family: Trebuchet MS, sans-serif;
  font-size: 25px;
}

.pay-para {
  font-family: Trebuchet MS, sans-serif;
  font-size: 15px;
  color: #3d4959;
  margin-top: 10px;
}

.pay-list {
  color: #212f52;
  margin: 40px;
  font-family: Trebuchet MS, sans-serif;
}

.choose {
  font-family: Trebuchet MS, sans-serif;
  font-weight: bolder;
  background-color: #fff;
  color: #1a90f0;
  border: 1px solid #045de9;
  border-radius: 5px;
  padding: 10px 30px;
  margin-left: 100px;
  margin-top: 50px;
}

.rs {
  font-family: Trebuchet MS, sans-serif;
  color: #212f52;
  font-size: 25px;
  margin-left: 70px;
  margin-top: 70px;
}

.cancel {
  margin-left: 110px;
  font-family: Trebuchet MS, sans-serif;
}

.checks {
  display: flex;
  list-style: none;
  width: fit-content;
  flex-direction: column;
  position: absolute;
  top: 2827px;
  left: 320px;
}

.checks2 {
  display: flex;
  list-style: none;
  width: fit-content;
  flex-direction: column;
  position: absolute;
  top: 2827px;
  left: 670px;
}

.checks3 {
  display: flex;
  list-style: none;
  width: fit-content;
  flex-direction: column;
  position: absolute;
  top: 2827px;
  left: 1020px;
}
.check {
  margin: 17px;
}

.h-pos {
  position: absolute;
  top: 3500px;
  left: 600px;
}

.para2 {
  color: #7c8498;
  font-family: Trebuchet MS, sans-serif;
  font-size: 17px;
  position: absolute;
  top: 3620px;
  left: 300px;
  text-align: center;
}

.end-card {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  top: 3700px;
  color: #6b748c;
  font-family: Trebuchet MS, sans-serif;
}

.end-card1 {
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.endpos{
  position: absolute;
  top: 3950px;
}

.michael {
  margin-left: 50px;
  margin-top: 10px;
}

.box2 {
  background: linear-gradient(180deg, #09c6f9 0%, #045de9 100%);
  width: 1690px;
  height: 400px;
  position: absolute;
  top: 4250px;
}

.box2-head {
  font-family: Trebuchet MS, sans-serif;
  font-size: 60px;
  color: white;
  position: absolute;
  top: 4350px;
  left: 200px;
}

.box2-para {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  color: white;
  position: absolute;
  top: 4500px;
  left: 200px;
  margin-top: 20px;
}

.reg2 {
  font-family: Trebuchet MS, sans-serif;
  font-size: large;
  font-weight: bold;
  color: white;
  background-color: transparent;
  padding: 15px 30px;
  border-radius: 5px;
  border: 2px solid white;
  position: absolute;
  top: 4420px;
  left: 1200px;
}

.logo2 {
  position: absolute;
  top: 4800px;
  left: 100px;
  height: 40px;
}

.logo2-para {
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  color: #6b748c;
  position: absolute;
  top: 4850px;
  left: 100px;
}

.endA {
  display: flex;
  font-family: Trebuchet MS, sans-serif;
  width: fit-content;
  position: absolute;
  top: 4750px;
  left: 600px;
}

.endB {
  margin: 20px;
}

.endC {
  list-style: none;
  font-size: 18px;
  color: #3d4959;
  padding: 20px;
}

.endD {
  padding: 5px;
}

.social{
  display: flex;
  position: absolute;
  top: 4820px;
  left: 1300px;
}

.socials{
  margin: 0px 5px 0px 5px;
  list-style: none;
}

.social-head{
  font-family: Trebuchet MS, sans-serif;
  font-size: 20px;
  position: absolute;
  top: 4790px;
  left: 1300px;

}

/* Media Query */
  
@media screen and (max-width:820px ) {

  * {
    margin: 0%;
    padding: 0%;
  
  }
  
  body {
    background-color: white;
    height: fit-content;
  }
  
  .logo {
    position: absolute;
    top: 50px;
    left: 100px;
    height: 40px;
  }
  
  .section1 {
    display: flex;
    flex-direction: row;
    width: 1100px;
    list-style: none;
    position: absolute;
    top: 150px;
    left: 10%;
    
  }
  
  .item {
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin: 0px 20px 0px 20px;
  }
  
  .reg-btn {
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    color: white;
    width: max-content;
    background: linear-gradient(180deg, #09c6f9 0%, #045de9 100%);
    padding: 10px 20px;
    border-radius: 20px;
    border-color: #178ef0;
    position: absolute;
    top: 50px;
    left: 950px;
  }
  
  .first-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    width: max-content;
    margin-left: 45%;
    text-align: center;
    padding: 10px;
    position: relative;
    top: 200px;

    
  }

  .last-card{
    margin-top: 50px;
  }

  .img-pos{
    position: relative;
    top: 400px;
  }

  .con-pos{
    position: relative;
    top: -470px;
  }

  
  .head1 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    margin-top: 50px;
  }
  
  .para1 {
    font-family: Trebuchet MS, sans-serif;
    font-size: larger;
    color: #3d4959;
    margin: 20px 0px 15px 0px;
  }
  
  .btn1 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 15px;
    color: white;
    background-color: #178ef0;
    padding: 20px 30px;
    border-radius: 20px;
    border-color: #178ef0;
    position: relative;
    top: 50px;
    left: 0px;
  }
  
  .img-size {
    height: 500px;
    margin-top: 100px;
  }
  
  .p-1 {
    margin-top: 70px;
  }
  
  .h-1 {
    color: #14263f;
  }
  
  .grid-container {
    display: flex;
    justify-content: space-around;
    width: 150%;
    text-align: center;
    position: relative;
    top: 300px;
    left: 5%;
  }
  
  .grid-head {
    font-family: Trebuchet MS, sans-serif;
    font-size: 25px;
    color: #14263f;
    margin-top: 20px;
  }
  
  .grid-para {
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    color: #3d4959;
    margin-top: 20px;
  }
  
  .grid-container2 {
    display: flex;
    justify-content: space-around;
    width: 150%;
    margin-top: 50px;
    text-align: center;
    position: relative;
    top: 300px;
    left: 5%;
  }
  
  .grid-head2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 25px;
    color: #14263f;
    margin-top: 20px;
  }
  
  .grid-para2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    color: #3d4959;
    margin-top: 20px;
  }
  
  .blue-box {
    background: linear-gradient(180deg, #09c6f9 0%, #045de9 100%);
    height: 600px;
    width: 1276px;
    position: relative;
    z-index: -1;
    top: 350px;
    margin-top: 50px;
  }
  
  .blue-head {
    color: black;
    font-family: Trebuchet MS, sans-serif;
    font-size: 50px;
    width: 1276px;
    justify-content: center;
    position: relative;
    top: -250px;

  }
  
  .A {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    height: fit-content;
    position: relative;
    top: -220px;
  }
  
  .B {
    background-color: #fff;
    border-radius: 10px;
    width: fit-content;
    margin: 10px;
    padding: 20px;
  }
  
  .C {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 20px;
  }
  
  .pay-head {
    font-family: Trebuchet MS, sans-serif;
    font-size: 25px;
  }
  
  .pay-para {
    font-family: Trebuchet MS, sans-serif;
    font-size: 15px;
    color: #3d4959;
    margin-top: 10px;
  }
  
  .pay-list {
    color: #212f52;
    margin: 15px;
    margin-left: 25px;
    font-family: Trebuchet MS, sans-serif;
  }
  
  .choose {
    font-family: Trebuchet MS, sans-serif;
    font-weight: bolder;
    background-color: #fff;
    color: #1a90f0;
    border: 1px solid #045de9;
    border-radius: 5px;
    padding: 5px 20px;
    margin-left: 50px;
    margin-top: 20px;
  }
  
  .rs {
    font-family: Trebuchet MS, sans-serif;
    color: #212f52;
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
  }
  
  .cancel {
    margin-left: 40px;
    font-family: Trebuchet MS, sans-serif;
  }
  
  .checks {
    display: none;
    list-style: none;
    width: fit-content;
    flex-direction: column;
    position: relative;
    top: -1005px;
    left: 315px;
  }
  
  .checks2 {
    display: none;
    list-style: none;
    width: fit-content;
    flex-direction: column;
    position: relative;
    top: -1295px;
    left: 670px;
  }
  
  .checks3 {
    display: none;
    list-style: none;
    width: fit-content;
    flex-direction: column;
    position: relative;
    top: -1588px;
    left: 1023px;
  }
  .check {
    margin: 17px;
  }
  
  .h-pos {
    position: absolute;
    top: 4750px;
    left: 20px;
    width: 1200px;
    text-align: center;
  }
  
  .para2 {
    color: #7c8498;
    font-family: Trebuchet MS, sans-serif;
    font-size: 17px;
    position: absolute;
    width: 1200px;
    top: 4850px;
    left: 20px;
    text-align: center;
    margin-top: 20px;
  }
  
  .end-card {
    display: flex;
    width: 1250px;
    position: relative;
    top: 100px;
    color: #6b748c;
    font-family: Trebuchet MS, sans-serif;
  }
  
  .end-card1 {
    
    margin-left: 20px;
    border-radius: 10px;
    box-shadow:
      rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  }
  
  .michael {
    margin-left: 50px;
    margin-top: 10px;
  }
  
  .box2 {
    background: linear-gradient(180deg, #09c6f9 0%, #045de9 100%);
    width: 1280px;
    height: 300px;
    position: absolute;
    top: 5600px;
  }
  
  .box2-head {
    font-family: Trebuchet MS, sans-serif;
    font-size: 60px;
    color: white;
    width: 700px;
    position: absolute;
    top: 5650px;
    left: 100px;
  }
  
  .box2-para {
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    color: white;
    width: 900px;
    position: absolute;
    top: 5780px;
    left: 100px;
    margin-top: 20px;
  }
  
  .reg2 {
    font-family: Trebuchet MS, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    background-color: transparent;
    padding: 20px 40px;
    border-radius: 20px;
    border: 2px solid white;
    position: absolute;
    top: 5700px;
    left: 900px;
  }
  
  .logo2 {
    position: absolute;
    top: 6000px;
    left: 50px;
    height: 40px;
  }
  
  .logo2-para {
    font-family: Trebuchet MS, sans-serif;
    font-size: 20px;
    color: #6b748c;
    position: absolute;
    top: 6050px;  
    font-family: Trebuchet MS, sans-serif;
    width: fit-content;
    position: absolute;
    top: 6050px;
    left: 50px;
  }

  .endA{
    position: absolute;
    top: 5950px;
    left: 400px;
  }
  
  .endB {
    margin: 20px;
  }
  
  .endC {
    list-style: none;
    font-size: 18px;
    color: #3d4959;
    padding: 20px;
  }
  
  .endD {
    padding: 5px;
  }
  
  .social{
    display: flex;
    position: absolute;
    top: 6000px;
    left: 1000px;
  }
  
  .socials{
    margin: 0px 5px 0px 5px;
    list-style: none;
  }
  
  .social-head{
    font-family: Trebuchet MS, sans-serif;
    font-size: 30px;
    width: 250px;
    position: absolute;
    top: 5950px;
    left: 1000px;
  
  }
  }




